
h4{ 
    text-align: center;
} 

.lead{
    color: white; 
} 

.display-4{ 
    color: white;
} 

.navbar-nav.navbar-center {
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    } 


    .jumbotron {
        background-image: url("https://images.unsplash.com/photo-1437419764061-2473afe69fc2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1790&q=80");
        background-size: cover;  
        background-position: -225px;
        padding-top: 0%;
      padding-bottom: 20%; 
      text-align: center; 
      margin-bottom: 0px;
      }  

      .rounded-circle{
          border-radius: 20px; 
          width: 300px; 
          height: 300px; 
          justify-content: center; 
      } 

.container{ 
    background: rgb(218, 218, 218);   
    opacity: .7;
    width: 60%; 
    vertical-align: 50%;
} 
.nav-link { 
    color: silver;
} 

